@inherits LayoutComponentBase
@using DemoBlazorMovil.Components.Layout
@using DemoBlazorMovil.Services
@inject NavigationManager Navigation
@inject SesionUsuario Sesion

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        var rutaActual = Navigation.Uri;

        if (!Sesion.EstaLogueado && !rutaActual.Contains("/login"))
        {
            Navigation.NavigateTo("/login", forceLoad: true);
        }
    }
}
